DJANGO_DEBUG=on
DJANGO_SECRET_KEY="you-secret-key"

DJANGO_ADMINS=admin:admin@gmail.com,user:user@gmail.com
DJANGO_ALLOWED_HOSTS=example.com,example2.com,
DJANGO_STATIC_ROOT=path/to/static/root
DJANGO_MEDIA_ROOT=path/to/media/root
DJANGO_DATABASE_URL=postgres:///pmtools
DJANGO_EMAIL_URL="consolemail://"

DJANGO_DEFAULT_FROM_EMAIL='admin@example.com'
DJANGO_EMAIL_BACKEND='django.core.mail.backends.console.EmailBackend'
DJANGO_SERVER_EMAIL='root@localhost.com'

DJANGO_USE_DEBUG_TOOLBAR=on
DJANGO_TEST_RUN=off

# PostgreSQL
POSTGRES_NAME=pmtools
POSTGRES_USER=postgres
POSTGRES_PASSWORD=1qaz2wsx
POSTGRES_HOST=192.168.0.104
POSTGRES_PORT=5432