{% extends 'base.html' %}

{% block head_title %}Catgory list | {{ block.super }}{% endblock %}

{% block content %}
    {% for object in object_list %}

        <div class="card mb-3">
            <div class="card-block">

                <div class="row">
                    <h4 class="card-title col-md-8">
                        {{ object.title }}<br>
                        {% if request.user.is_superuser %}
                            <small class="text-muted">
                                {{ object.timestamp|date:'M d, Y' }} by <a href="#">{{ object.author }}</a>
                            </small>
                        {% endif %}
                    </h4>
                    <div class="col-md-4 d-flex justify-content-end align-items-start">
                        {% if request.user.is_superuser %}
                            <a class="btn btn-outline-warning" href="{% url 'category:update' object.slug %}">Update</a>
                            <a class="btn btn-danger" href="{% url 'category:delete' object.slug %}">Delete</a>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="card-footer text-muted">
                <p class="card-text">{{ object.description }}</p>
            </div>
        </div>

    {% endfor %}
{% endblock %}

