{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block head_title %}Blog-API{% endblock %}</title>
    {% include 'css.html' %}
</head>
<body>

{% include 'navbar.html' %}

<div class="container">
    <div class="row">
        <div class="col-12">
            {% include 'messages.html' %}
            {% block content %}{% endblock %}
        </div>
    </div>
</div>

<footer class="footer">
    <div class="container">
        <span class="text-muted">© Company 2017 | Place sticky footer content here.</span>
    </div>
</footer>

    {% include 'javascript.html' %}
</body>
</html>