{% extends 'base.html' %}

{% block head_title %}Home | {{ block.super }}{% endblock %}

{% block content %}

    <div class="jumbotron">
        <h1 class="display-3">Hello, Django REST framework!</h1>
        <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
        <hr class="my-4">
        <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
        <p class="lead">
            <a class="btn btn-primary btn-lg" href="{% url 'post:list' %}" role="button">Articles</a>
            <a class="btn btn-primary btn-lg" href="{% url 'category:list' %}" role="button">Categories</a>
        </p>
    </div>

{% endblock %}

{% block javascript %}
    {{ block.super }}
    <script>
        console.log('Log under main scripts.')
    </script>
{% endblock %}