{% load staticfiles %}
<script src="{% static 'vendor/jquery3/jquery.min.js' %}"></script>
<script src="{% static 'vendor/bootstrap4/js/ie10-viewport-bug-workaround.js' %}"></script>
<script src="{% static 'vendor/tether/js/tether.min.js' %}"></script>
<script src="{% static 'vendor/bootstrap4/js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/main.js' %}"></script>

<script>
    {# init in main.js #}
    $(document).ready(function () {
        $('.alert-success').delay(5000).fadeOut(1000);
    });
</script>